.logo {
  font-size: 20px;
 margin-top: -164px;
  margin-left: 3%;
  text-align: left;
  color:black;
  float: left;
}


.container-4  {
    
    margin-top: 7% ;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
  }

  .row-4 {
    margin-bottom: 5%;
    margin-top: 8% ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .col-44{
 
    padding: 10px;
    width: 33.333%;
  }

  